<footer class="footer">
    <div class="gjs-divider"></div>
    <div id="ig1wz5" class="gjs-grid-row">
        <div id="irynpt" class="gjs-grid-column">
            <div id="io4ws2" class="gjs-grid-row">
                <div id="iv2y72" class="gjs-grid-column">
                    <a href="/" id="i6k357"
                       class="gjs-link-box"><img id="i7p7w7" src="~/img/logo.png" /></a>
                </div>
                <div id="i626fy" class="gjs-grid-column">
                    <a title="" href="##" id="i7h0do" class="gjs-link">Pricing<br /></a><a href="##" id="ikat5c" class="gjs-link">Terms &amp; Conditions<br /></a><a href="##" id="ikri4l"
                                                                                                                                                                     class="gjs-link">Refund Policy<br /></a><a href="##" id="iokeun" class="gjs-link">Contact Us<br /></a>
                </div>
            </div>
        </div>
    </div>
</footer>