<header>
    <div title="" id="iuc6sy" class="gjs-grid-row">
        <div class="gjs-grid-column" id="i6k7og">
            <div id="navbar-wrapper" class="gjs-grid-row">
                <div class="gjs-grid-column" id="it5g7v">
                    <a href="" id="imz48w" title="img"
                       class="gjs-link-box"><img alt="image-removebg-preview.png" src="img/logo.png" id="iiqqxc" /></a>
                </div>
                <div class="gjs-grid-column" id="ia7c0b">
                    <div id="ihemzk" class="gjs-grid-row">
                        <div class="gjs-grid-column" id="i74hve">
                            <a href="" title="Plantio" class="gjs-link" id="ip1nx5">Plantio</a>
                            <a href="#feature-section" id="iz7r7k" title="Estoque" class="gjs-link">Estoque</a>
                            <a href="#testimonial-section" id="idttsp" title="Vendas" class="gjs-link">Vendas</a>
                        </div>
                    </div>
                </div>
                <div class="gjs-grid-column" id="ipki3p"><a id="ic6q5c" title="btn" class="gjs-button">Login</a></div>
            </div>
        </div>
    </div>
</header>