@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="index,follow">
    <meta name="generator" content="GrapesJS Studio">
    <link rel="stylesheet" href="/css/pages/cadastro.css">
</head>

<body id="i0j3jj">
    <section id="i2lvjk" class="gjs-section">
        <div id="iirskg" class="gjs-container">
            <div id="iasywr" class="gjs-grid-row">
                <div id="i6daa7" class="gjs-grid-column">
                    <h1 id="iuxyra" class="gjs-heading"><span id="i2qene">Efetue o <br />cadastro</span></h1>
                    <div id="i9jqrl">
                        Insira todos os dados corretamente para realizar o acesso de acordo com a sua
                        necessidade.<br /><br />
                    </div>
                </div>
                <div id="ieoy0i" class="gjs-grid-column">
                    <div id="icnj4o">tipo do usuário</div>
                    <div id="iinjpu" class="gjs-grid-row">
                        <div id="if0h2o" class="gjs-grid-column">
                            <input type="radio" id="i9ikzk" />
                            <div id="i8notz">agricultor</div><input type="radio" id="igpn7d" />
                            <div id="i58po4">comercial</div><input type="radio" id="i934ae" />
                            <div id="ieapef">gestor</div>
                        </div>
                    </div>
                    <div id="icqu2h">nome completo</div><input type="text" id="iqi81q" />
                    <div id="ivq9ej">usuário</div><input type="text" id="i1gyii" />
                    <div id="i35cth">senha</div><input type="text" id="iiuw0c" />
                    <div id="iwe019">confirmar senha</div>
                    <input type="text" id="itz5ru" /><button type="button" id="i21l0c"><span id="i0onyb">salvar</span></button>
                </div>
            </div>
        </div>
    </section>
</body>

</html>